/* body{
    display: flex;
    flex-direction: column;
}
p{

}
input{
    width: 200px;
} */
.myclass{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
button{
    width: 200px;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
}
input{
    width: 300px;
    height: 100px;
}
button:hover{
    transform: scale(1.2);
}